@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

body{font-family: 'Open Sans',sans-serif;}
image{max-width: 100%;}
h1,h2 {
  font-family: "Poppins", sans-serif;}

ul{list-style-type: none;}

footer ,.meemo{
    background-color: hsl(192, 100%, 9%);
}

.meemo p{
color: #fcf4f6;
margin-bottom:2%}